label {
color:#152F4E;
}

.form-title {
  background-color:#152F4E;
  color:#FFF;
}

#footer {
  background-color:#152F4E;
  color:#FFF;
}

legend {
	color:#152F4E;
	border-bottom: 1px solid #152F4E;
}